{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "chrome": true,
    "URL": true,
    "localStorage": true
  }
}
